page-all-product {
    .scroll-content {
        padding-bottom: 0px !important;
    }

    .card-h100{
        height: calc(100% - 20px);
        padding-bottom:0px !important;
    }
  
    .card-h100 .card-content{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .text-comun{
        font-weight: bold;
        font-size: 1.6rem;
    }

    .color-pri{
        color: $color-primary-0;
    }

    .price {
        display: inline-block;
    }

    .price::first-letter {
        padding-right: 0.3em;
    }

}
