<ion-header>
	<ion-navbar color="dark">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title text-center>Sin IVA</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="background-page">

    <div class="card-background-page" style="margin-top:25px;">
      <ion-card class="logo">
          <img src="../../assets/imgs/logosiniva.png" class="image-backg" />
      </ion-card>
    </div>

  <ion-card class="card" style="margin-top:25px;">

    <ion-card-header text-center class="padd-0" >   
      <ion-grid class="padd-0"> 
        <ion-row class="padd-0 ion-row">
          <ion-col col-6 class="padd-0">
            <button ion-button icon-left full class="btn-header marg-0" (click)="pulsadoBotonHeader(1)" [ngClass]="{'active-pri': isVisibleFormEntrar}">
              <ion-icon md="md-log-in"></ion-icon>
              Entrar
            </button>
          </ion-col>
          <!--<ion-col col-2 class="logo"></ion-col>-->
          <ion-col col-6 class="padd-0">
            <button ion-button icon-left full class="btn-header marg-0" (click)="pulsadoBotonHeader(2)" [ngClass]="{'active-pri': !isVisibleFormEntrar}">
              <ion-icon name="person-add"></ion-icon>
                Registrate
              </button>
          </ion-col>
        </ion-row>
      </ion-grid>      
    </ion-card-header>

    <ion-card-content>

      <!-- Formulario login -->
      <form (ngSubmit)="logIn()" [formGroup]="loginForm" *ngIf="isVisibleFormEntrar">

        <ion-list inset>

          <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <div>
            <ng-container *ngFor="let validation of validationMessages.email" >         
              <div class="message-error-page" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item >
            <ion-label floating>Contraseña</ion-label>
            <ion-input type="password" formControlName="password" maxlength="10"></ion-input>
          </ion-item>

          <div>
            <ng-container *ngFor="let validation of validationMessages.password" >         
              <div class="message-error-page" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
          
        </ion-list>

        <div padding-horizontal>
          <div class="form-error">{{ loginError }}</div>
          <button ion-button icon-left full type="submit" [disabled]="!loginForm.valid" class="button-primary">
            <ion-icon md="md-log-in"></ion-icon>
            Entrar
          </button>

          <!--
          <div class="login-footer">
            <p>
              <a href="#">¿Olvidaste la Contraseña?</a>
              Si eres un nuevo usuario, por favor registrese.
            </p>
          </div>
 
          <ion-list margin-top>
           
            <button ion-button icon-left block color="primary" outline (click)="loginWithGoogle()">
              <ion-icon name="logo-google"></ion-icon>
              Acceder con Google
            </button>
            
            
            
            <button ion-button icon-left block outline margin-top (click)="signUp()">
              <ion-icon name="person-add"></ion-icon>
              Registrarte
            </button>
          
          </ion-list>
          -->

        </div>
      </form>

      <!-- Formulario registro -->
      <form (ngSubmit)="signUp()" [formGroup]="loginForm" *ngIf="!isVisibleFormEntrar">
          <ion-list inset>
  
            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
  
            <div>
              <ng-container *ngFor="let validation of validationMessages.email" >         
                <div class="message-error" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
  
            <ion-item>
              <ion-label floating>Contraseña</ion-label>
              <ion-input type="password" formControlName="password" maxlength="10"></ion-input>
            </ion-item>
  
            <div>
              <ng-container *ngFor="let validation of validationMessages.password" >         
                <div class="message-error" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
  
          </ion-list>
  
          <div padding-horizontal>
            <div class="form-error">{{ loginError }}</div>
            <button ion-button icon-left full type="submit" [disabled]="!loginForm.valid" class="button-secundary">
              <ion-icon name="person-add"></ion-icon>
              Aceptar
            </button>
          </div>
        </form>

    </ion-card-content>
  </ion-card>
</ion-content>