page-login {
    .head-card{
        border-bottom: 2px solid lightgray;
        background-color: black;
        font-weight: bold;
        color: white;
      }
      .list-botons{
        margin-top: 30px;
      }
      
      .message-error{
        color: #ff2d2d;
        margin-top: 10px;
      }
      .content{
        background-color: #f72f4e;
      }
      .boton-registro{
        margin-top:25px !important;
      }
      .content-card {
        //background: #f72f4e;
      }

}
