<ion-header color="dark">
  <ion-navbar color="dark">
    <ion-title text-left>Editar Producto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background-page">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-item>
              <ion-label floating>Título</ion-label>
              <ion-input [(ngModel)]="product.name" [readonly]="!isEdit"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label floating>Contenido</ion-label>
            <ion-textarea [(ngModel)]="product.units" [readonly]="!isEdit"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 col-sm-6 col-md-6  col-lg-6 col-xl-6>
          <button ion-button block outline icon-start color="danger" (click)="removeProduct(product)" *ngIf="isEdit==true">
            <ion-icon name="trash"></ion-icon>
            Borrar
          </button>          
        </ion-col>
        <ion-col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6>
          <button ion-button block class="button-primary" (click)="updateProduct(product)" *ngIf="isEdit==true">Guardar</button>
        </ion-col>
        <ion-col col-12>
            <button ion-button block class="button-primary" (click)="back()" *ngIf="isEdit==false">Aceptar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> 
</ion-content>
