page-home {
    .head-card{
        border-bottom: 2px solid lightgray;
        background-color: black;
        font-weight: bold;
        color: white;
      }
      
      .line-bottom{
        border-bottom: 1px solid lightgray;
      }
      
      #group-home{
        position: absolute;
        width: 100%;
        bottom: 0;
        height: auto;
      }
      
}
