page-list-note {
    
  #group-home{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: auto;
  }

  .card .card-header{
    white-space: normal;
    padding: 0px 16px;
    background-color: $color-secondary-2-1;
    color: $color-secondary-2-4; 
  }

  .card .card-content{
    padding: 8px 16px;
  }

  .item-secundary{
    color: $color-secondary-2-0;
    font-weight: normal;
    border: 1px solid $color-secondary-2-2;
  }
  
  .scroll-content ion-card:last-child{
    margin-bottom: 75px;
  }    

  .title-card{
    font-size: 1.7rem;
    text-align: center;
  }

  .content-card .item{
    padding-left: 0px;
  }
  .content-card .item-md.item-block .item-inner{
    padding-right: 0px;
  }

  .card .card-header + .card-content {
    padding-top: 1px;
  }

  .label{
    white-space: normal;
  }


}
