page-list-note {
    
  #group-home{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: auto;
  }

  .item-secundary{
    color: $color-secondary-2-0;
    font-weight: normal;
    border: 1px solid $color-secondary-2-2;
  }
    
}
