<ion-header color="dark">
	<ion-navbar color="dark">
    <ion-title text-center>Lista Notas</ion-title>
    <ion-buttons end>
			<button ion-button icon-only (click)="presentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>     
    </ion-buttons>
	</ion-navbar>
</ion-header>

<!--
<ion-content #contentnote class="background-page">    
  <ion-card  *ngFor="let note of noteList">
    <ion-list>   
      <ion-item-sliding>
        <ion-item>    
          <ion-label [navPush]="editNotePage" [navParams]="{note:note, isEdit: false}">
              {{ note.title }}
          </ion-label>          
          <button ion-button clear icon-start item-end color="secondary" [navPush]="editNotePage" [navParams]="{note:note, isEdit: true}">            
            <ion-icon name="create"></ion-icon>
            Editar
          </button>
        </ion-item>  

        <ion-item-options side="right">
          <button ion-button outline color="danger" (click)="removeNote(note)">
            <ion-icon name="trash"></ion-icon>
            Borrar
          </button>                     
        </ion-item-options>            
      </ion-item-sliding>
    </ion-list> 
  </ion-card> 

  <ion-fab end bottom>
    <button ion-fab color="dark" *ngFor="let p of pages" [navPush]="p.component">
        <ion-icon [name]="p.icon"></ion-icon>
    </button>
  </ion-fab>

  <div class="wrapper-loading" *ngIf="showLoading">
    <div class="loading">
      <span>Cargando ....</span>
    </div> 
  </div>

</ion-content>
-->

<ion-content #contentnote class="background-page">   
   
    <ion-card *ngFor="let note of noteList">
      <ion-card-header>
        <ion-card-title class="title-card">
          {{ note.title }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class="content-card">
          <ion-list>   
              <ion-item-sliding>
                <ion-item>    
                  <ion-label [navPush]="editNotePage" [navParams]="{note:note, isEdit: false}">
                      {{ note.content }}
                  </ion-label>          
                  <button ion-button clear icon-start item-end color="secondary" [navPush]="editNotePage" [navParams]="{note:note, isEdit: true}" style="margin-right:0px;">            
                    <ion-icon name="create"></ion-icon>
                    Editar
                  </button>
                </ion-item>  
        
                <ion-item-options side="right">
                  <button ion-button outline color="danger" (click)="removeNote(note)">
                    <ion-icon name="trash"></ion-icon>
                    Borrar
                  </button>                     
                </ion-item-options>            
              </ion-item-sliding>
            </ion-list> 
      </ion-card-content>
      
    </ion-card> 
  
    <ion-fab end bottom>
      <button ion-fab color="dark" *ngFor="let p of pages" [navPush]="p.component">
          <ion-icon [name]="p.icon"></ion-icon>
      </button>
    </ion-fab>
  
    <div class="wrapper-loading" *ngIf="showLoading">
      <div class="loading">
        <span>Cargando ....</span>
      </div> 
    </div>
  
  </ion-content>
